<ul class="nav py-3 mx-1 px-3 fs-4 ">
  <li class="nav-item">
    <a class="nav-link active text-reset" aria-current="page">
      <div class="vstack">
        <div class="fw-bolder">DeepCodecGuru</div>
        <div class="fs-6"><small>The source of learning</small></div>
      </div>
    </a>
  </li>
  <!-- <li class="nav-item ms-auto">
    <a class="nav-link text-reset" 
      ><div class="vstack">
        <div class="fw-light">Monday-Friday</div>
        <div class="fs-6"><small>8:00AM-9:00PM</small></div>
      </div></a
    >
  </li>
  <li class="nav-item me-auto">
    <a class="nav-link text-reset" 
      ><div class="vstack">
        <div class="fw-light">Call us</div>
        <div class="fs-6"><small>+91 123 456 7890</small></div>
      </div></a
    >
  </li> -->
  <!-- <li class="nav-item ms-auto">
    <a class="nav-link disabled" aria-disabled="true">
    <div class="hstack fs-4 gap-1">
        <div><span class="badge text-bg-dark"><i class="bi bi-youtube"></i></span></div>
        <div><span class="badge text-bg-dark"><i class="bi bi-linkedin"></i></span></div>
        <div><span class="badge text-bg-dark"><i class="bi bi-github"></i></span></div>
    </div>
    </a>
  </li> -->
</ul>
