<header class="border">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-12 border p-3">
                hello
            </div>
            <div class="col-lg-10 col-md-9 col-12 border p-5">

            </div>
        </div>
    </div>
</main>