<div class="container-fluid min-vh-100 border p-5 text-center ">
    <div class="container topTextForCourses pt-5">
    <h3 class="text-uppercase">Our courses</h3>
    <h1 style="word-break: break-all;">Explore Our Popular Online Courses</h1>
    </div>
    <div class="container">
        <swiper-container  pagination="true" pagination-clickable="true" slides-per-view="3" loop="true"
        space-between="30" free-mode="true" pagination-dynamic-bullets="true" pagination-clickable="true" navigation="true" space-between="30"
        centered-slides="true" autoplay-delay="500" autoplay-disable-on-interaction="false">
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=1" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=2" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=3" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=4" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=5" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=6" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=7" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=8" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="https://picsum.photos/350/400?random=9" alt="">
          </swiper-slide>
          </swiper-container>
    </div>
</div>