@media screen and (max-width: 1350px) {
    .benefitsImg{
        display: none;
    }
  }

.card:hover {
    background-color:  rgb(254, 3, 104);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.card:hover i{
    color: white;
}

i{
    color:  rgb(254, 3, 104);
}

