<div class="container min-vh-100">
  <div class="row row-cols-2">
    <div class="col p-0 col-5 benefitsImg">
      <img
        src="assets/img/girlHoldingBooks.jpg"
        alt="girl holding books"
        class="img-fluid"
        style="height: 100vh"
      />
    </div>
    <div class="col-lg-7 col-12" style="background-color: rgba(255, 255, 255, 0.937)">
      <div class="container">
        <div class="row row-cols-1 my-5 mx-3 g-3">
          <div class="col fs-2">Learn anything</div>
          <div class="col fs-1 fw-bold">Benefits of DeepCodecGuru</div>
        </div>
        <div class="row row-cols-1 my-5 mx-3 g-4">
          <div class="col">
            <div
              class="card row shadow-sm p-2"
              style="display: flex; flex-direction: row; border: none"
            >
              <div
                class="card-header col col-2 centerIt"
                style=" border: none"
              >
                <i class="bi bi-book-half fs-1"></i>
              </div>
              <div class="card-body col col-10">
                <h5 class="card-title">Online Courses</h5>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Aliquam exercitationem .
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card row shadow-sm p-2"
              style="display: flex; flex-direction: row; border: none"
            >
              <div
                class="card-header col col-2 centerIt"
                style=" border: none"
              >
                <i class="bi bi-award fs-1"></i>
              </div>
              <div class="card-body col col-10">
                <h5 class="card-title">Earn Certificates</h5>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Aliquam exercitationem .
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card row shadow-sm p-2"
              style="display: flex; flex-direction: row; border: none"
            >
              <div
                class="card-header col col-2 centerIt"
                style=" border: none"
              >
                <i class="bi bi-wallet2 fs-1"></i>
              </div>
              <div class="card-body col col-10">
                <h5 class="card-title">Collect coins</h5>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Aliquam exercitationem .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
