<div class="container-fluid min-vh-100 mainDiv">
  <!-- <div class="imageHit"></div> -->
  <div class="container-fluid">
    <app-top-info></app-top-info>
    <app-second-nav></app-second-nav>
  </div>
  <!-- <div class="component">
    <div class="row row-cols-1 g-4 mx-1 infoText">
      <div class="col text-uppercase fs-5">Welcome to deepcodecguru</div>
      <div class="col fw-bolder fs-3">Best Online Education and expertise</div>
      <div class="col">
        “Education is not the filling of a pail, but the lighting of a fire.” —
        William Butler Yeats
      </div>
      <div class="col">
        <div class="row  justify-content-start ">
          <div class="col col-auto">
            <button type="button" class="btn btn-info text-light fw-bold">
              Get started now <span class="fw-bolder">&rarr;</span>
            </button>
          </div>
          <div class="col col-auto">
            <button type="button" class="btn btn-light border fw-bold">
              View courses <span class="fw-bolder">&rarr;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container mt-2 centerIt" style="min-height: 75vh">
    <div class="row border" style="border-top-right-radius: 25px;border-bottom-left-radius: 25px;">
      <div class="col-md-6 centerIt p-5">
        <div class="row row-cols-1">
          <div class="col fw-bolder fs-3">
            Best Online Education and expertise
          </div>
          <div class="col mt-5">
            “Education is not the filling of a pail, but the lighting of a
            fire.” — William Butler Yeats
          </div>
          <div class="col mt-5">
            <div class="btn-group btn-group-md" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-light">Get started now</button>
              <button type="button" class="btn btn-info">View courses</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 centerIt">
        <img src="assets/img/mainSpaceTop.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
