<div class="container-fluid  numbersDiv">
  <div class="row  p-5">
    <div class="col">
      <div
        class="card row p-2"
        style="display: flex; flex-direction: row; border: none; background-color: transparent; color: white;"
      >
        <div
          class="card-header col col-2 centerIt"
          style="background-color: transparent; border: none"
        >
          <i class="bi bi-person-plus fs-1"></i>
        </div>
        <div class="card-body col col-10">
          <h5 class="card-title">Students</h5>
          <p class="card-text">
            Lorem ipsum dolor, 
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card row p-2"
        style="display: flex; flex-direction: row; border: none; background-color: transparent; color: white;"
      >
        <div
          class="card-header col col-2 centerIt"
          style="background-color: transparent; border: none"
        >
          <i class="bi bi-person-video3 fs-1"></i>
        </div>
        <div class="card-body col col-10">
          <h5 class="card-title">Lecturers</h5>
          <p class="card-text">
            Lorem ipsum dolor, 
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card row p-2"
        style="display: flex; flex-direction: row; border: none; background-color: transparent; color: white;"
      >
        <div
          class="card-header col col-2 centerIt"
          style="background-color: transparent; border: none"
        >
          <i class="bi bi-calendar-week fs-1"></i>
        </div>
        <div class="card-body col col-10">
          <h5 class="card-title">Schedule</h5>
          <p class="card-text">
            Lorem ipsum dolor, 
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card row p-2"
        style="display: flex; flex-direction: row; border: none; background-color: transparent; color: white;"
      >
        <div
          class="card-header col col-2 centerIt"
          style="background-color: transparent; border: none"
        >
          <i class="bi bi-book-half fs-1"></i>
        </div>
        <div class="card-body col col-10">
          <h5 class="card-title">Online Courses</h5>
          <p class="card-text">
            Lorem ipsum dolor, 
          </p>
        </div>
      </div>
    </div>
    
  </div>
</div>
